/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

body {
    font-family: Nunito, sans-serif, serif;
    font-size: 10px;
    margin: 0;
    width: 100vw;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    font-size: 20px;
    color: pink;
}

/* Header */

header {
    background: lightslategray;
    padding: 0.5rem;
    height: 100vh
}

nav ul {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1rem;
}

header h1 {
    font-size: 5rem;
}

header p {
    font-size: 1.6rem;
    padding: 1rem 0;
    border-bottom: 1px solid lightgray;
}

.rotate {
    margin-top: 2rem;
    font-size: 3rem;
    opacity: 0.4;
}